* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

header .name {
    text-align: center;
    color: #692586;
    top: 38%;
    left: 5%;
    letter-spacing: 3px;
    position: absolute;
}

h2 .nom{
    font-size: 20px;
}
.container-fluid {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    rgba(28, 28, 185, 0.4),
    rgba(48, 60, 175, 0.2),
    rgba(143, 111, 118, 0.4)
  ),
    url(images/lotus.jpg) center no-repeat;
    background-size: cover;
}

.navbar {
    width: 230px;
    height: 100%;
    background-color: #57498C;
    position: fixed;
    top: 0;
    right: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60% 0 0 50%;
    transition: right 0.8s cubic-bezier(1 0 0 1);
}
.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px); 
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list {
    text-align: left;
}
.nave-item {
    list-style: none; 
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
.nav-link::before, 
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}
.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.container-fluid .name {
    color: white;
}
.aboutme {
     text-align: center;
     padding: 30px;
     font-size: 34px;
     background-color: #8067AE;
     color:blanchedalmond;

}
.photo {
width: 200px;
height: 200px;
border-radius: 60px;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.cv{
    color: white !important;
    font-size:26px;
}

.projet {
    background-color: #413369;
    color: blanchedalmond;
    padding: 30px;
}

.projet a:hover {
    color:#692586;
}

.pro img {
    width: 350px;
    height: 250px;
}
.logo img {
    width: 80px;
    height:80px;
    
}

.competence{
    width: 100%;
    height: 100%;
    background-color: #2D243F;
    color: blanchedalmond;
    padding-bottom: 30px;   
    
}

.contact img {
    width: 60px;
    height:60px;
}

footer a:hover{
    color: wheat;
}


footer {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    padding-top: 30px;
    
    
}

p.footer {
    color: #3E2F5B;
    padding: 5px;
}

